.nav-list {
    max-width: 100%;
    margin: 0 auto;
}

.page-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.filter-genres {
    display: block;
    position: absolute;
    top: 140px;
    left: 150px;
}

.filter-genres h4 {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;

    font-weight: normal;
}

.form-select {
    background-color: #0d253f;
    width: 250px;
}

.select-content {
    color: white;
}

.cards {
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.card {
    height: auto;
    width: 240px;
    margin: 0 auto;
    padding: 0;
    background-color: white;
    
    border-radius: 8px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Source Sans Pro', Arial, sans-serif;  
}

.card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

img {
    width: 100%;
    cursor: pointer;
    outline: none;

    border-radius: 8px 8px 0 0;
}

.content {
    width: 100%;
    padding: 26px 10px 12px 10px;
    position: relative;
    white-space: normal;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.title {
    font-size: 1.1em;
    color: #000;
    font-weight: bold;

    position: absolute;
}

.a-title {
    position: absolute;
    width: 230px;
}

.date {
    color: rgba(0,0,0,0.6);
    margin-top: 8px;
}

.content .date {
    padding: 36px 0px 30px 0;
    font-size: 16px;
}

mat-paginator {
    margin-bottom: 50px;
}

.pagination {
    font-family: 'Source Sans Pro', Arial, sans-serif;

    width: 100%;
    background-color: white;
    color: rgba(0,0,0,0.6);
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 40px;

    font-size: 20px;
    font-weight: 700;
}

.search {
    width: 260px;
    padding: 8px 16px;
    
    font-size: 16px;
    
    border-radius: 8px;
    border: gray solid 1px;
    outline: none;

    display: flex;
    margin: 40px 20px 20px 720px;
}

mat-pseudo-checkbox span .mat-option-text {
    color: #90cea1;
}
