<!-- INPUT DE PESQUISAR FILMES PELO NOME -->
<input class="search" placeholder="Pesquise pelo nome do filme" type="text" (keyup)="filterName($event.target.value)" />

<div class="page-content">
  <!-- SELECT -->
  <div class="filter-genres">
    <h4 class="title-filter" style="padding-bottom: 16px;">Filtrar por categorias</h4>
    <mat-form-field class="form-select" appearance="fill">
      <mat-label>Categorias</mat-label>
      <mat-select multiple class="select-content" (selectionChange)="filterGenre($event.value)" [(value)]="selected">
        <mat-option *ngFor="let genre of genres" [value]="genre.id">
          {{genre.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="movies-list">
    <!-- CARDS DE FILMES -->
    <section class="cards">
      <mat-nav-list class="nav-list" *ngFor="let movie of movies; let i = index">
        <mat-card class="card">
          <img routerLink="/movie-detail" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
            (click)="getDetails(movie)">
          <mat-card-content class="content">
            <h2 class="title">
              <a class="a-title" routerLink="/movie-detail">{{movie.title}}</a>
            </h2>
            <p class="date">
              {{movie.release_date | date}}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-nav-list>
    </section>
  </div>
</div>

  <!-- COMPONENTE DE PAGINACAO -->
<mat-paginator class="pagination" [length]="totalResults" [pageSize]="20" (page)="previewsPage($event)" #paginator>
</mat-paginator>


